name: Create Unity Package on release tag

on:
  push:
    tags:
      - v*

jobs:
  echo:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - run: |
          echo "Packages/com.playroomkit.sdk.meta" > metaList
          echo "Assets/WebGLTemplates.meta" >> metaList
          find Packages/com.playroomkit.sdk/ -name \*.meta >> metaList
          find Assets/WebGLTemplates/ -name \*.meta >> metaList
          echo metaList

      - run: mkdir output

      - name: Set release version ENV
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - uses: pCYSl5EDgo/create-unitypackage@master
        with:
          package-path: "output/playroomkit.unitypackage"
          include-files: metaList

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          generate_release_notes: true
          files: output/playroomkit.unitypackage
