name: Create Unity Package for PR/push test

# Temporarily disabled triggers since switching to upm package
on:
  #[push, pull_request]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  echo:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    
    - run: |
        echo "Packages/com.playroomkit.sdk.meta" > metaList
        echo "Assets/WebGLTemplates.meta" >> metaList
        find Packages/com.playroomkit.sdk/ -name \*.meta >> metaList
        find Assets/WebGLTemplates/ -name \*.meta >> metaList
        echo metaList

    - run: mkdir output

    - name: Set release version ENV
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - uses: pCYSl5EDgo/create-unitypackage@master
      with:
        package-path: 'output/playroomkit.unitypackage'
        include-files: metaList

    - uses: actions/upload-artifact@v4
      with:
        name: playroomkit.unitypackage
        path: output/playroomkit.unitypackage
